.headerStyle {
  padding: 1rem 0 3rem;
  text-align: center;
}

.title {
  color: black;
  font-size: 3rem;
  text-decoration: none;
}
.nav-links {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.nav-item {
  color: #999;
  text-decoration: none;
  font-size: 0.9rem;
  margin-right: 1.3rem;
  transition: 0.3s ease-in-out;
  &:hover {
    color: #666;
    border-bottom: 1px solid;
  }
}

.active-nav-item {
  color: #333;
  border-bottom: 1px solid;
}
